.DS_Store
._.DS_Store
bash/S02_Afni_Preproc/
bash/SBJ03_DICOM2NIFTI.sh
bash/SBJ05_DICOM2NIFTI.sh
bash/SBJ06_Day1_DICOM2Nifti.sh
bash/SBJ06_Day2_DICOM2Nifti.sh
bash/prior_s02s/
bash/sbj03_copy_commands.sh
bash/single_echo/
